<h3><%= component_status_transition.component.name %> transitioned from <%= component_status_transition.from %> to <%= component_status_transition.to %></h3>
<p><%= component_status_transition.message %></p>
<p>at <%= component_status_transition.created_at %></p>